.btn {
	&:link, &:visited {
		display: inline-block;
		padding: 1.5rem 3rem;
		background-color: $green-light;
		font-weight: 700;
		font-size: 1.6rem;
		line-height: 2rem;
		color: $white;
		text-decoration: none;

		background: linear-gradient(110deg, $green-light 0%, $green-light 60%, $white 60%, $white 100%);
		background-size: 270%;
		transition: all .3s cubic-bezier(.53,.53,.22,.21);
	}

	&:hover {
		background-position: 100%;
		background-color: $white;
		color: $green-light;
	}
}