.title-1 {
	font-weight: 700;
	font-size: 4.5rem;
	line-height: 5.5rem;
	color: $white;
}

.title-2 {
	font-weight: 700;
	font-size: 4rem;
	line-height: 100%;
	color: $white;
}

.title-3 {
	color: $green-dark;
	font-weight: 700;
	font-size: 1.9rem;
	line-height: 2.3rem;
	&_white {
		color: $white;
	}

	&_green-light {
		color: $green-light;
	}
}

.subtitle {
	font-weight: 300;
	font-size: 1.7rem;
	line-height: 2.1rem;
	letter-spacing: .13rem;
	color: $green-light;
}