.sidebar {
	background-color: $green-dark;
	grid-column: sidebar-start / sidebar-end;
	width: 8rem;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	overflow: hidden;
	z-index: 100;

	&__menu {
		padding-left: 8rem;
		padding-top: 10rem;
		text-align: right;
		justify-items: end;

		.menu__item {
			&::after {
				content: "";
				width: 8rem;
				height: .1rem;
				color: $white;

			}
		}
	}
}

.burger {
	border: none;
	height: .2rem;
	width: 5rem;
	background-color: $white;
	position: relative;
	top: 3.5rem;
	left: 1.5rem;
	cursor: pointer;

	&::after, &::before {
		content: "";
		height: .2rem;
		width: 5rem;
		background-color: $white;
		position: absolute;
	}

	&::after {
		top: 1rem;
		left: 0;
	}

	&::before {
		top: -1rem;
		left: 0;
	}

	&__toggle {
		width: 5rem;
		height: 2.5rem;
		position: absolute;
		top: -1rem;
		opacity: 0;
	}
}